
@using BedAndBreakfast.Data;
@{
    ViewData["Title"] = "Search";
    // Get list of help pages passed from controller action.
    List<HelpPage> helpPages = (List<HelpPage>)ViewData["helpPages"];
}


<div style="text-align:center;">
    <div class="view-box-01">

        <p class="indent-01 text-segue-18">Help pages</p>
        <hr />

        @if (User.IsInRole(Role.Admin))
        {
            <a class="button-04 text-segue-14" asp-controller="Administration" asp-action="AddHelpPage">
                Add new help page
            </a>
        }

        <div>
            <partial name="SearchPartial" />
        </div>
        <div style="clear:both;"></div>
        @if (helpPages != null && helpPages.Count() != 0)
        {
            foreach (HelpPage helpPage in helpPages)
            {
                <div class="help-page-preview-box">
                    @if (helpPage.IsLocked)
                    {
                        <div class="label-box-11 text-segue-14">@helpPage.Title</div>
                    }
                    else
                    {
                        <a class="button-03 text-segue-14" asp-action="Display" asp-route-hPage="@helpPage.ID">
                            @helpPage.Title
                        </a>
                    }
                    <div class="text-segue-16">
                        @if (helpPage.Content.Count() > 200)
                        {
                            <p>@(helpPage.Content.Substring(0, 200) + "...")</p>
                        }
                        else {
                            <p>@helpPage.Content</p>
                        }
                    </div>
                    @*If administrator uses help browser he can edit pages.*@
                    @if (User.IsInRole(Role.Admin))
                    {
                    <div class="block-04">
                        <a class="button-11 text-segue-14" asp-controller="Administration" asp-action="EditHelpPage" asp-route-hPage="@helpPage.ID">
                            Edit this help page
                        </a>
                    </div>
                    }
                </div>
            }
        }
        else
        {
            <p class="indent-01 text-segue-16">
                No help pages found :(
            </p>
        }
        <div id="search_div">
            <h4>@ViewBag.Message</h4>
        </div>

    </div>
</div>





