@model EditAnnouncementViewModel
@{
	ViewData["Title"] = "Summary";
}

<h2>Summary</h2>

<div>
	<div>
		<label>
			<strong>
				Announcement type
			</strong>
		</label>
	</div>
	<div>
		@Model.Type
	</div>

	<div>
		<label>
			<strong>
				Announcement subtype
			</strong>
		</label>
	</div>
	<div>
		@Model.Subtype
	</div>

	@if (Model.SharedPart != null)
	{
		<div>
			<label>
				<strong>
					Announcement shared part
				</strong>
			</label>
		</div>
		<div>
			@Model.SharedPart
		</div>
	}

	<div>
		<label>
			<strong>
				Announcement period
			</strong>
		</label>
	</div>
	<div>
		@Model.From.ToShortDateString() - @Model.To.ToShortDateString()
	</div>

	<div>
		<label>
			<strong>
				Announcement address
			</strong>
		</label>
	</div>
	<div>
		@Model.Country
	</div>
	<div>
		@Model.Region
	</div>
	<div>
		@Model.City
	</div>
	<div>
		@Model.Street
	</div>
	<div>
		@Model.StreetNumber
	</div>

	<div>
		<label>
			<strong>
				Announcement description
			</strong>
		</label>
	</div>
	<div>
		@Model.Description
	</div>

	<div>
		<label>
			<strong>
				Announcement contact methods
			</strong>
		</label>
	</div>
	<div>
		@foreach (var method in Model.ContactMethods)
		{
			<label>@method.Value</label>
			<label>@method.Key</label>
		}
	</div>

	<div>
		<label>
			<strong>
				Announcement payment methods
			</strong>
		</label>
	</div>
	<div>
		@foreach (var method in Model.PaymentMethods)
		{
			<label>@method.Value</label>
			<label>@method.Key</label>
		}
	</div>

</div>

<div>
	<a href="#" onclick="saveAnnouncement();">Create announcement</a>
</div>

