@model BedAndBreakfast.Models.CreateAnnouncementViewModel
@{
    ViewData["Title"] = "Summary";
}
<h2>Summary</h2>

<h4>Type</h4>
<div>
	<p>@Model.AnnouncementTypeViewModel.Type</p>
</div>
<h4>Subtype</h4>
<div>
	<p>@Model.AnnouncementSubtypeViewModel.Subtype</p>
	@if(Model.AnnouncementSubtypeViewModel.SharedPart != null){
	<p>@Model.AnnouncementSubtypeViewModel.SharedPart</p>
	}
</div>
<h4>Time and place</h4>
<div>
	<p>@Model.AnnouncementTimePlaceViewModel.Country</p>
	<p>@Model.AnnouncementTimePlaceViewModel.Region</p>
	<p>@Model.AnnouncementTimePlaceViewModel.City</p>
	<p>@Model.AnnouncementTimePlaceViewModel.Street</p>
	<p>@Model.AnnouncementTimePlaceViewModel.StreetNumber</p>
</div>
<h4>Description </h4>
<div>
	<p>@Model.AnnouncementDescriptionViewModel.Description</p>
</div>
<h4>Contact info</h4>
<div>
	@foreach (var contact in Model.AnnouncementContactViewModel.AdditionalContacts) {
		<p>@contact.Key - @contact.Value</p>
	}
</div>
<h4>Payment methods</h4>
<div>
	@foreach (var paymentMehod in Model.AnnouncementPaymentViewModel.PaymentMethods)
	{
		<p>@paymentMehod.Key - @paymentMehod.Value</p>
	}
</div>


