@model EditAnnouncementViewModel
@using BedAndBreakfast.Data
@{
	ViewData["Title"] = "Summary";
}

<h2>Summary</h2>

<div>
	<div>
		<label>
			<strong>
				Announcement type
			</strong>
		</label>
	</div>
	<div>
        @Enum.GetName(typeof(EnumeratedDbValues.AnnouncementType), Model.Type)
	</div>

	<div>
		<label>
			<strong>
				Announcement subtype
			</strong>
		</label>
	</div>
    <div>
        @switch (Model.Type)
        {
            case (int)EnumeratedDbValues.AnnouncementType.House:
                @Enum.GetName(typeof(EnumeratedDbValues.HouseSubtype), Model.Subtype)
                break;
            case (int)EnumeratedDbValues.AnnouncementType.Entertainment:
                @Enum.GetName(typeof(EnumeratedDbValues.EntertainmentSubtype), Model.Subtype)
                break;
            case (int)EnumeratedDbValues.AnnouncementType.Food:
                @Enum.GetName(typeof(EnumeratedDbValues.FoodSubtype), Model.Subtype)
                break;
        }
    </div>

	@if (Model.SharedPart != null)
	{
		<div>
			<label>
				<strong>
					Announcement shared part
				</strong>
			</label>
		</div>
        <div>
            @Enum.GetName(typeof(EnumeratedDbValues.HouseSharedPart), Model.Subtype)
        </div>
	}

	<div>
		<label>
			<strong>
				Announcement period
			</strong>
		</label>
	</div>
	<div>
		@Model.From.ToShortDateString() - @Model.To.ToShortDateString()
	</div>

	<div>
		<label>
			<strong>
				Announcement address
			</strong>
		</label>
	</div>
	<div>
		@Model.Country
	</div>
	<div>
		@Model.Region
	</div>
	<div>
		@Model.City
	</div>
	<div>
		@Model.Street
	</div>
	<div>
		@Model.StreetNumber
	</div>

	<div>
		<label>
			<strong>
				Announcement description
			</strong>
		</label>
	</div>
	<div>
		@Model.Description
	</div>

	<div>
		<label>
			<strong>
				Announcement contact methods
			</strong>
		</label>
	</div>
	<div>
		@foreach (var method in Model.ContactMethods)
		{
			<label>@Enum.GetName(typeof(EnumeratedDbValues.ContactType), method.Value)</label>
			<label>@method.Key</label>
		}
	</div>

	<div>
		<label>
			<strong>
				Announcement payment methods
			</strong>
		</label>
	</div>
	<div>
		@foreach (var method in Model.PaymentMethods)
		{
        <label>@Enum.GetName(typeof(EnumeratedDbValues.PaymentMethod), method.Value)</label>
			<label>@method.Key</label>
		}
	</div>

</div>

<div>
	<a href="#" onclick="saveAnnouncement();">Save announcement</a>
</div>

