@model CreateAnnouncementViewModel
@{
	ViewData["Title"] = "TimePlaceSelectionForm";
}

<h2>TimePlaceSelectionForm</h2>

<div>
	<div>
		<label>Country</label>
		<input type="text" id="country" value="@Model.Country"/>
	</div>
	<div>
		<label>Region</label>
		<input type="text" id="region" value="@Model.Region"/>
	</div>
	<div>
		<label>City</label>
		<input type="text" id="city" value="@Model.City"/>
	</div>
	<div>
		<label>Street</label>
		<input type="text" id="street" value="@Model.Street"/>
	</div>
	<div>
		<label>Street number</label>
		<input type="text" id="streetNumber" value="@Model.StreetNumber"/>
	</div>
	<div>
		<label>From</label>
		<input type="date" id="from" value="@Model.From.ToString("yyyy-MM-dd")"/>
	</div>
	<div>
		<label>To</label>
		<input type="date" id="to" value="@Model.To.ToString("yyyy-MM-dd")"/>
	</div>
</div>
<div>
	<a href="#" onclick="setTimePlace();">Save</a>
</div>

