@model BedAndBreakfast.Models.EditNotificationsViewModel
@using BedAndBreakfast.Data;

@{
    ViewData["Title"] = "Notifications";
    NotificationsSetting notificationsSettings =
        (NotificationsSetting)ViewData["notificationSettings"];

}

<div class="indent-01 text-segue-18">Notifications</div>
<hr />
<form asp-controller="Account" asp-action="EditNotifications">

    <div class="label-box-03 text-segue-16">General messages</div>

    <table class="table-01">
        <tr>
            <td>
                <label asp-for="GeneralByEmail" class="text-segue-16"></label>
                <input asp-for="GeneralByEmail" value="true" checked="@notificationsSettings.GeneralByEmail" />
            </td>
            <td>
                <label asp-for="GeneralByMobileApp" class="text-segue-16"></label>
                <input asp-for="GeneralByMobileApp" value="true" checked="@notificationsSettings.GeneralByMobileApp" />
            </td>
            <td>
                <label asp-for="GeneralBySMS" class="text-segue-16"></label>
                <input asp-for="GeneralBySMS" value="true" checked="@notificationsSettings.GeneralBySMS" />
            </td>
            <td>
                <label asp-for="GeneralByPhone" class="text-segue-16"></label>
                <input asp-for="GeneralByPhone" value="true" checked="@notificationsSettings.GeneralByPhone" />
            </td>
        </tr>
    </table>



    <div class="label-box-03 text-segue-16">Reminds</div>

    <table class="table-01">
        <tr>
            <td>
                <label asp-for="RemindByEmail" class="text-segue-16"></label>
                <input asp-for="RemindByEmail" value="true" checked="@notificationsSettings.RemindByEmail" />
            </td>
            <td>
                <label asp-for="RemindByMobileApp" class="text-segue-16"></label>
                <input asp-for="RemindByMobileApp" value="true" checked="@notificationsSettings.RemindByMobileApp" />
            </td>
            <td>
                <label asp-for="RemindBySMS" class="text-segue-16"></label>
                <input asp-for="RemindBySMS" value="true" checked="@notificationsSettings.RemindBySMS" />
            </td>
            <td>
                <label asp-for="RemindByPhone" class="text-segue-16"></label>
                <input asp-for="RemindByPhone" value="true" checked="@notificationsSettings.RemindByPhone" />
            </td>
        </tr>
    </table>



    <div class="label-box-03 text-segue-16">Discounts and tips</div>

    <table class="table-01">
        <tr>
            <td>
                <label asp-for="DiscountAnTipsByEmail" class="text-segue-16"></label>
                <input asp-for="DiscountAnTipsByEmail" value="true" checked="@notificationsSettings.DiscountAnTipsByEmail" />
            </td>
            <td>
                <label asp-for="DiscountAnTipsMobileApp" class="text-segue-16"></label>
                <input asp-for="DiscountAnTipsMobileApp" value="true" checked="@notificationsSettings.DiscountAnTipsMobileApp" />
            </td>
            <td>
                <label asp-for="DiscountAnTipsBySMS" class="text-segue-16"></label>
                <input asp-for="DiscountAnTipsBySMS" value="true" checked="@notificationsSettings.DiscountAnTipsBySMS" />
            </td>
            <td>
                <label asp-for="DiscountAnTipsByPhone" class="text-segue-16"></label>
                <input asp-for="DiscountAnTipsByPhone" value="true" checked="@notificationsSettings.DiscountAnTipsByPhone" />
            </td>
        </tr>

    </table>


    <div class="label-box-03 text-segue-16">Rules and community</div>

    <table class="table-01">
        <tr>
            <td>
                <label asp-for="RulesAndCommunityByEmail" class="text-segue-16"></label>
                <input asp-for="RulesAndCommunityByEmail" value="true" checked="@notificationsSettings.RulesAndCommunityByEmail" />
            </td>
            <td>
                <label asp-for="RulesAndCommunityByMobileApp" class="text-segue-16"></label>
                <input asp-for="RulesAndCommunityByMobileApp" value="true" checked="@notificationsSettings.RulesAndCommunityByMobileApp" />
            </td>
            <td>
                <label asp-for="RulesAndCommunityBySMS" class="text-segue-16"></label>
                <input asp-for="RulesAndCommunityBySMS" value="true" checked="@notificationsSettings.RulesAndCommunityBySMS" />
            </td>
            <td>
                <label asp-for="RulesAndCommunityByPhone" class="text-segue-16"></label>
                <input asp-for="RulesAndCommunityByPhone" value="true" checked="@notificationsSettings.RulesAndCommunityByPhone" />
            </td>
        </tr>
    </table>

    <div class="label-box-03 text-segue-16">Service</div>

    <table class="table-01">
        <tr>
            <td>
                <label asp-for="ServiceByEmail" class="text-segue-16"></label>
                <input asp-for="ServiceByEmail" value="true" checked="@notificationsSettings.ServiceByEmail" />
            </td>
            <td>
                <label asp-for="ServiceByMobileApp" class="text-segue-16"></label>
                <input asp-for="ServiceByMobileApp" value="true" checked="@notificationsSettings.ServiceByMobileApp" />
            </td>
            <td>
                <label asp-for="ServiceBySMS" class="text-segue-16"></label>
                <input asp-for="ServiceBySMS" value="true" checked="@notificationsSettings.ServiceBySMS" />
            </td>
            <td>
                <label asp-for="ServiceByPhone" class="text-segue-16"></label>
                <input asp-for="ServiceByPhone" value="true" checked="@notificationsSettings.ServiceByPhone" />
            </td>
        </tr>
    </table>

    <input type="submit" value="Save" class="button-01 text-segue-14" />




</form>

