@using BedAndBreakfast.Data;
@using BedAndBreakfast.Settings;
@using Microsoft.AspNetCore.Http;
@{
    Dictionary<string, int> contacts = EnumeratedDbValues.ParseEnumToDictionary<EnumeratedDbValues.ContactType>();
    Dictionary<string, int> payments = EnumeratedDbValues.ParseEnumToDictionary<EnumeratedDbValues.PaymentMethod>();
    List<string> timetableOptions = Enum.GetNames(typeof(EnumeratedDbValues.AnnouncementTimetableOptions)).ToList();

    ViewData["Title"] = "EditAnnouncement";
    bool newModel = Model.newModel;
}



    <script src="~/js/editAnnouncement.js" type="text/javascript"></script>
    <script type="text/javascript">

    var maxInputLength = @Html.Raw(Json.Serialize(IoCContainer.DbSettings.Value.MaxAddressInputLength));
    var contactItemIndex = { value: 0, name: 'contactItemIndex', items: [] };
    var paymentItemIndex = { value: 0, name: 'paymentItemIndex', items: [] };
    var typePartialViewName = 'TypeForm';
    var subtypePartialViewName = 'SubtypeForm';
    var timePlacePartialViewName = 'TimePlaceForm';
    var descriptionPartialViewName = 'DescriptionForm';
    var contactPartialViewName = 'ContactsForm';
    var paymentPartialViewName = 'PaymentsForm';
    var summaryPartialViewName = 'Summary';
    var validViews = {};
    var savedHeaderClassName = 'editAnnouncementSavedHeader';
    var invalidHeaderClassName = 'editAnnouncementInvalidHeader';
    var validHeaderClassName = 'editAnnouncementValidHeader';

	function getContactMethods() {
		return @Html.Raw(Json.Serialize(contacts));
	}

	function getPaymentMethods() {
        return @Html.Raw(Json.Serialize(payments));
    }

    function getTimetableOptions() {
        return @Html.Raw(Json.Serialize(timetableOptions));
    }

    window.onload = function () {
        var newModel = @Html.Raw(Json.Serialize(newModel));
        if (newModel == true) {
            resetValidViews();
            deleteCurrentModel();
            createNewModel();
            setPartialView(typePartialViewName);
        }
        else {
            setValidViews();
            setPartialView(typePartialViewName);
        }
	}
    </script>

    <style>
        .editAnnouncementSavedHeader {
            background-color: khaki;
        }

            .editAnnouncementSavedHeader:hover {
                background-color: lightgoldenrodyellow;
            }

        .editAnnouncementInvalidHeader {
            background-color: indianred;
        }

            .editAnnouncementInvalidHeader:hover {
                background-color: lightcoral;
            }

        .editAnnouncementValidHeader {
            background-color: darkseagreen;
        }

            .editAnnouncementValidHeader:hover {
                background-color: lightgreen;
            }
    </style>
    <div id="edit_ann_div">
        <div id="edit_head_text">Edit Announcement</div>
        <div id="edit_ann_container">
            <div id="header">
                <div class="edit_ann_bar">
                    <div id="TypeForm">
                        <a href="#" class="edit_ann_text" onclick="return setPartialView(typePartialViewName);">Type</a>
                    </div>
                </div>
                <div class="edit_ann_bar">
                    <div id="SubtypeForm">
                        <a href="#" class="edit_ann_text" onclick="return setPartialView(subtypePartialViewName);">Subtype</a>
                    </div>
                </div>
                <div style="clear:both;"></div>
                <div class="edit_ann_bar">
                    <div id="TimePlaceForm">
                        <a href="#" class="edit_ann_text" onclick="return setPartialView(timePlacePartialViewName);">Time and place</a>
                    </div>
                </div>
                <div class="edit_ann_bar">
                    <div id="DescriptionForm">
                        <a href="#" class="edit_ann_text" onclick="return setPartialView(descriptionPartialViewName);">Description</a>
                    </div>
                </div>
                <div style="clear:both;"></div>
                <div class="edit_ann_bar">
                    <div id="ContactsForm">
                        <a href="#" class="edit_ann_text" onclick="return setPartialView(contactPartialViewName);">Contact types</a>
                    </div>
                </div>
                <div class="edit_ann_bar">
                    <div id="PaymentsForm">
                        <a href="#" class="edit_ann_text" onclick="return setPartialView(paymentPartialViewName);">Payment methods</a>
                    </div>
                </div>
                <div style="clear:both;"></div>
                <div class="edit_ann_bar" style="width: 602px">
                    <div id="Summary">
                        <a href="#" class="edit_ann_text" onclick="return setPartialView(summaryPartialViewName);">Summary</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="errorMessage"></div>
        <div id="content">

        </div>
    </div>

