
@using BedAndBreakfast.Data;
@{
    List<string> announcementTypes = Enum.GetNames(typeof(EnumeratedDbValues.AnnouncementType)).ToList();
    List<string> houseSubtypes = Enum.GetNames(typeof(EnumeratedDbValues.HouseSubtype)).ToList();
    List<string> entertainmentSubtypes = Enum.GetNames(typeof(EnumeratedDbValues.EntertainmentSubtype)).ToList();
    List<string> foodSubtype = Enum.GetNames(typeof(EnumeratedDbValues.FoodSubtype)).ToList();
    List<string> sharedParts = Enum.GetNames(typeof(EnumeratedDbValues.HouseSharedPart)).ToList();
    List<string> contactMethods = Enum.GetNames(typeof(EnumeratedDbValues.ContactType)).ToList();
    List<string> paymentMethods = Enum.GetNames(typeof(EnumeratedDbValues.PaymentMethod)).ToList();
    List<string> timetableOptions = Enum.GetNames(typeof(EnumeratedDbValues.AnnouncementTimetableOptions)).ToList();
}

<p class="indent-01 text-segue-16">
    Select announcement type.
</p>
<hr />

<div style="text-align: left;">
    <div class="block-01">
        <label class="label-box-08 text-segue-16">Announcement type: </label>
        <select class="input-box-02 text-segue-16" onchange="handleTypeVisibility();" id="announcement-type-drop-down-list">
            @for (int i = 0; i < announcementTypes.Count(); i++)
            {
                <option value="@i">@announcementTypes[i]</option>
            }
        </select>
    </div>
    <div class="block-01">
        <label class="label-box-08 text-segue-16">Announcement subtype: </label>
        <select class="input-box-02 text-segue-16" id="house-subtype-drop-down-list">
            @for (int i = 0; i < houseSubtypes.Count(); i++)
            {
                <option value="@i">@houseSubtypes[i]</option>
            }
        </select>
        <select class="input-box-02 text-segue-16" id="entertainment-subtype-drop-down-list">
            @for (int i = 0; i < entertainmentSubtypes.Count(); i++)
            {
                <option value="@i">@entertainmentSubtypes[i]</option>
            }
        </select>
        <select class="input-box-02 text-segue-16" id="food-subtype-drop-down-list">
            @for (int i = 0; i < foodSubtype.Count(); i++)
            {
                <option value="@i">@foodSubtype[i]</option>
            }
        </select>
    </div>
    <div class="block-01">
        <label class="label-box-08 text-segue-16" id="house-shared-part-label">House shared part: </label>
        <select class="input-box-02 text-segue-16" id="house-shared-part-drop-down-list">
            @for (int i = 0; i < sharedParts.Count(); i++)
            {
                <option value="@i">@sharedParts[i]</option>
            }
        </select>
    </div>
</div>

<p class="indent-01 text-segue-16">
    Select announcement place and activity time range.
</p>
<hr />

<div>
    <table>
        <tr>
            <td class="table-box-cell-08 text-segue-16">Country</td>
            <td class="table-box-cell-08 text-segue-16">Region</td>
            <td class="table-box-cell-08 text-segue-16">City</td>
            <td class="table-box-cell-08 text-segue-16">Street</td>
            <td class="table-box-cell-08 text-segue-16">Street number</td>
        </tr>
        <tr id="address-input-row">
            <td><input class="input-box-02 text-segue-16" onblur="handleAddressValidation();" id="country-input-field" type="text"></td>
            <td><input class="input-box-02 text-segue-16" onblur="handleAddressValidation();" id="region-input-field" type="text"></td>
            <td><input class="input-box-02 text-segue-16" onblur="handleAddressValidation();" id="city-input-field" type="text"></td>
            <td><input class="input-box-02 text-segue-16" onblur="handleAddressValidation();" id="street-input-field" type="text"></td>
            <td><input class="input-box-02 text-segue-16" onblur="handleAddressValidation();" id="street-number-input-field" type="text"></td>
        </tr>
        <tr>
            <td colspan="5">
                <span class="error-span-label-box-01 text-segue-16" id="address-error-span" data-valid="false"></span>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td class="table-box-cell-04 text-segue-16">From</td>
            <td class="table-box-cell-04 text-segue-16">To</td>
        </tr>
        <tr id="date-range-input-row">
            <td><input class="input-box-02 text-segue-16" onblur="handleDateRangeValidation();" type="date" id="from-date-input-field"></td>
            <td><input class="input-box-02 text-segue-16" onblur="handleDateRangeValidation();" type="date" id="to-date-input-field"></td>
        </tr>
        <tr>
            <td colspan="2">
                <span class="error-span-label-box-01 text-segue-16" id="date-error-span" data-valid="false"></span>
            </td>
        </tr>
    </table>
</div>

<p class="indent-01 text-segue-16">
    Create announcement description and insert images.
</p>
<hr />

<div>
    <!-- By default this item is hidden (only while announcement is being edited it should be visible) -->
    <table id="images-preview-table" hidden>
        <tr>
            <!-- Content of container below is being copied -->
            <td id="image-preview-prototype" hidden>
                <label></label>
                <br />
                <img style="width: 300px;" />
                <br />
                <button onclick="handlePreviewImageRemoval(this);">Remove</button>
            </td>
        </tr>
    </table>
    <div id="images-container" class="images-container-01">
        <!-- Content of container below is being cloned -->
        <div>
            <label class="image-input-box-01 text-segue-14">
                <input onchange="addInput(this, 5, 'images-container');" type="file" accept="image/png, image/jpeg" />
                <img class="image-input-ico-01" src="~/images/img-input-ico.png" />
                <span class="image-input-span">[Upload image...]</span>
            </label>
        </div>
    </div>

    <label class="label-box-08 text-segue-16">Description: </label>
    <br />
    <textarea spellcheck="false" class="textarea-style-02 text-segue-16" oninput="handleTextareaValidation();" rows="10" cols="100" id="description-text-area"></textarea>
    <span class="error-span-label-box-01 text-segue-16" id="text-area-counter-span"></span>
    <span class="error-span-label-box-01 text-segue-16" id="text-area-error-span" data-valid="false"></span>
</div>


<p class="indent-01 text-segue-16">
    Provide some contact info.
</p>
<hr />

<div>
    <div id="contacts-container">
        <!-- Content of container below is being cloned -->
        <div class="block-01">
            <select class="input-box-02 text-segue-16">
                @for (int i = 0; i < contactMethods.Count(); i++)
                {
                    <option value="@i">@contactMethods[i]</option>
                }
            </select>
            <input class="input-box-02 text-segue-16" onchange="addInput(this, 5); handleContactInfoValidation();" type="text" />
        </div>
    </div>
    <span class="error-span-label-box-01 text-segue-16" id="contacts-error-span" data-valid="false"></span>
</div>


<p class="indent-01 text-segue-16">
    Provide some payment info.
</p>
<hr />

<div>
    <div id="payments-container">
        <!-- Content of container below is being cloned -->
        <div class="block-01">
            <select class="input-box-02 text-segue-16">
                @for (int i = 0; i < paymentMethods.Count(); i++)
                {
                    <option value="@i">@paymentMethods[i]</option>
                }
            </select>
            <input class="input-box-02 text-segue-16" onchange="addInput(this, 5); handlePaymentInfoValidation();" type="text" />
        </div>
    </div>
    <span class="error-span-label-box-01 text-segue-16" id="payments-error-span" data-valid="false"></span>
</div>

<p class="indent-01 text-segue-16">
    Create schedule for your announcement.
</p>
<hr />

<div>
    <label>Timetable options:</label>
    <select class="input-box-02 text-segue-16" onchange="handleTimetableVisibility();" id="timetable-drop-down-list">
        @for (int i = 0; i < timetableOptions.Count(); i++)
        {
            <option value="@i">@timetableOptions[i]</option>
        }
    </select>
    <div id="per-day-timetable-container">
        <label>Reservations: </label>
        <input onchange="handleTimetableValidation();" type="text" value="10" />
    </div>
    <div id="per-hour-timetable-container">
        <div id="schedule-item-container">
            <label>Form: </label>
            <input onchange="addTimeTableInput(this, 12); handleTimetableValidation();" type="time" />
            <label>To: </label>
            <input onchange="addTimeTableInput(this, 12); handleTimetableValidation();" type="time" />
            <label>Reservations: </label>
            <input onchange="addTimeTableInput(this, 12); handleTimetableValidation();" type="text" />
        </div>
    </div>
    <span id="timetable-error-span" data-valid="false"></span>
</div>

<div>
    <button class="button-01 text-segue-14"  id="announcement-submit-button" onclick="handleSubmitButton();">Submit</button>
    <span class="error-span-label-box-01 text-segue-16" id="form-error-span"></span>
</div>



