
@using BedAndBreakfast.Data;
@{
    List<string> announcementTypes = Enum.GetNames(typeof(EnumeratedDbValues.AnnouncementType)).ToList();
    List<string> houseSubtypes = Enum.GetNames(typeof(EnumeratedDbValues.HouseSubtype)).ToList();
    List<string> entertainmentSubtypes = Enum.GetNames(typeof(EnumeratedDbValues.EntertainmentSubtype)).ToList();
    List<string> foodSubtype = Enum.GetNames(typeof(EnumeratedDbValues.FoodSubtype)).ToList();
    List<string> sharedParts = Enum.GetNames(typeof(EnumeratedDbValues.HouseSharedPart)).ToList();
    List<string> contactMethods = Enum.GetNames(typeof(EnumeratedDbValues.ContactType)).ToList();
    List<string> paymentMethods = Enum.GetNames(typeof(EnumeratedDbValues.PaymentMethod)).ToList();
    List<string> timetableOptions = Enum.GetNames(typeof(EnumeratedDbValues.AnnouncementTimetableOptions)).ToList();
}

<div>
    Select announcement type.
</div>

<div>
    <label>Announcement type: </label>
    <select onchange="handleTypeVisibility();" id="announcement-type-drop-down-list">
        @for (int i = 0; i < announcementTypes.Count(); i++)
        {
            <option value="@i">@announcementTypes[i]</option>
        }
    </select>
    <br />
    <label>Announcement subtype: </label>
    <select id="house-subtype-drop-down-list">
        @for (int i = 0; i < houseSubtypes.Count(); i++)
        {
            <option value="@i">@houseSubtypes[i]</option>
        }
    </select>
    <select id="entertainment-subtype-drop-down-list">
        @for (int i = 0; i < entertainmentSubtypes.Count(); i++)
        {
            <option value="@i">@entertainmentSubtypes[i]</option>
        }
    </select>
    <select id="food-subtype-drop-down-list">
        @for (int i = 0; i < foodSubtype.Count(); i++)
        {
            <option value="@i">@foodSubtype[i]</option>
        }
    </select>
    <br />
    <label id="house-shared-part-label">House shared part: </label>
    <select id="house-shared-part-drop-down-list">
        @for (int i = 0; i < sharedParts.Count(); i++)
        {
            <option value="@i">@sharedParts[i]</option>
        }
    </select>
</div>

<div>
    Select announcement place and activity time range.
</div>

<div>
    <table>
        <tr>
            <td>Country</td>
            <td>Region</td>
            <td>City</td>
            <td>Street</td>
            <td>Street number</td>
        </tr>
        <tr id="address-input-row">
            <td><input onblur="handleAddressValidation();" id="country-input-field" type="text"></td>
            <td><input onblur="handleAddressValidation();" id="region-input-field" type="text"></td>
            <td><input onblur="handleAddressValidation();" id="city-input-field" type="text"></td>
            <td><input onblur="handleAddressValidation();" id="street-input-field" type="text"></td>
            <td><input onblur="handleAddressValidation();" id="street-number-input-field" type="text"></td>
        </tr>
        <tr>
            <td colspan="5">
                <span id="address-error-span" data-valid="false"></span>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>From</td>
            <td>To</td>
        </tr>
        <tr id="date-range-input-row">
            <td><input onblur="handleDateRangeValidation();" type="date" id="from-date-input-field"></td>
            <td><input onblur="handleDateRangeValidation();" type="date" id="to-date-input-field"></td>
        </tr>
        <tr>
            <td colspan="2">
                <span id="date-error-span" data-valid="false"></span>
            </td>
        </tr>
    </table>
</div>

<div>
    Create announcement description and insert images.
</div>

<div>
    <label>Announcement images: </label>
    <br />
    <div id="images-container">
        <!-- Content of container below is being cloned -->
        <div>
            <input onchange="addInput(this, 5);" type="file" accept="image/png, image/jpeg" />
        </div>
    </div>

    <label>Description: </label>
    <br />
    <textarea oninput="handleTextareaValidation();" rows="10" cols="100" id="description-text-area"></textarea>
    <span id="text-area-counter-span"></span>
    <span id="text-area-error-span" data-valid="false"></span>
</div>

<div>
    Provide some contact info.
</div>

<div>
    <div id="contacts-container">
        <!-- Content of container below is being cloned -->
        <div>
            <select>
                @for (int i = 0; i < contactMethods.Count(); i++)
                {
                    <option value="@i">@contactMethods[i]</option>
                }
            </select>
            <input onchange="addInput(this, 5); handleContactInfoValidation();" type="text" />
        </div>
    </div>
    <span id="contacts-error-span" data-valid="false"></span>
</div>

<div>
    Provide some payment info.
</div>

<div>
    <div id="payments-container">
        <!-- Content of container below is being cloned -->
        <div>
            <select>
                @for (int i = 0; i < paymentMethods.Count(); i++)
                {
                    <option value="@i">@paymentMethods[i]</option>
                }
            </select>
            <input onchange="addInput(this, 5); handlePaymentInfoValidation();" type="text" />
        </div>
    </div>
    <span id="payments-error-span" data-valid="false"></span>
</div>

<div>
    Create schedule for your announcement.
</div>

<div>
    <label>Timetable options:</label>
    <select onchange="handleTimetableVisibility();" id="timetable-drop-down-list">
        @for (int i = 0; i < timetableOptions.Count(); i++)
        {
            <option value="@i">@timetableOptions[i]</option>
        }
    </select>
    <div id="per-day-timetable-container">
        <label>Reservations: </label>
        <input onchange="handleTimetableValidation();" type="text" value="10" />
    </div>
    <div id="per-hour-timetable-container">
        <div id="schedule-item-container">
            <label>Form: </label>
            <input onchange="addTimeTableInput(this, 12); handleTimetableValidation();" type="time" />
            <label>To: </label>
            <input onchange="addTimeTableInput(this, 12); handleTimetableValidation();" type="time" />
            <label>Reservations: </label>
            <input onchange="addTimeTableInput(this, 12); handleTimetableValidation();" type="text" />
        </div>
    </div>
    <span id="timetable-error-span" data-valid="false"></span>
</div>

<div>
    <button onclick="handleSubmitButtonClick();">Submit</button>
</div>



