
@using BedAndBreakfast.Data;
@{
    ViewData["Title"] = "ManageAnnouncements";
    List<string> announcementTypes = Enum.GetNames(typeof(EnumeratedDbValues.AnnouncementType)).ToList();
    List<string> houseSubtypes = Enum.GetNames(typeof(EnumeratedDbValues.HouseSubtype)).ToList();
    List<string> entertainmentSubtypes = Enum.GetNames(typeof(EnumeratedDbValues.EntertainmentSubtype)).ToList();
    List<string> foodSubtype = Enum.GetNames(typeof(EnumeratedDbValues.FoodSubtype)).ToList();
    List<string> sharedParts = Enum.GetNames(typeof(EnumeratedDbValues.HouseSharedPart)).ToList();
    List<string> contactMethods = Enum.GetNames(typeof(EnumeratedDbValues.ContactType)).ToList();
    List<string> paymentMethods = Enum.GetNames(typeof(EnumeratedDbValues.PaymentMethod)).ToList();
}



<script type="text/javascript" src="~/js/manageAnnouncements.js"></script>
<script type="text/javascript" src="~/js/editAnnouncementPartialView.js"></script>
<script type="text/javascript" src="~/js/hourlyTimetablePartialView.js"></script>
<script type="text/javascript" src="~/js/dailyTimetablePartialView.js"></script>
<script type="text/javascript">
    window.onload = function () {
        handleMyAnnouncementsButton();
    }
    function getAnnouncementTypes() {
        return @Html.Raw(Json.Serialize(announcementTypes));
    }
    function getHouseSubtypes() {
        return @Html.Raw(Json.Serialize(houseSubtypes));
    }
    function getEntertainmentSubtypes() {
        return @Html.Raw(Json.Serialize(entertainmentSubtypes));
    }
    function getFoodSubtypes() {
        return @Html.Raw(Json.Serialize(foodSubtype));
    }
    function getSharedParts() {
        return @Html.Raw(Json.Serialize(sharedParts));
    }
    function getContactMethods() {
        return @Html.Raw(Json.Serialize(contactMethods));
    }
    function getPaymentMethods() {
        return @Html.Raw(Json.Serialize(paymentMethods));
    }
</script>

<div style="text-align:center;">
    <div class="view-box-03">
        <p class="indent-01 text-segue-18">Manage announcements</p>
        <hr />
        <div id="option-header">
            <button class="button-10 text-segue-14" onclick="handleMyAnnouncementsButton();">My announcements</button>
            <button class="button-10 text-segue-14" onclick="handleCreateAnnouncementButton();">Create announcement</button>
            <span id="additional-options"></span>
        </div>
        <div style="clear: both;"></div>
        <div class="error-span-label-box-01 text-segue-16" id="message-container"></div>
        <div id="manage-announcements-view-container"></div>
    </div>
</div>