@using BedAndBreakfast.Data;
@{

    ViewData["Title"] = "ShowReservations";
    List<string> announcementTypes = Enum.GetNames(typeof(EnumeratedDbValues.AnnouncementType)).ToList();
    List<string> houseSubtypes = Enum.GetNames(typeof(EnumeratedDbValues.HouseSubtype)).ToList();
    List<string> entertainmnetSubtypes = Enum.GetNames(typeof(EnumeratedDbValues.EntertainmentSubtype)).ToList();
    List<string> foodSubtypes = Enum.GetNames(typeof(EnumeratedDbValues.FoodSubtype)).ToList();
    List<string> houseSharedParts = Enum.GetNames(typeof(EnumeratedDbValues.HouseSharedPart)).ToList();

}


    <script type="text/javascript" src="~/js/showReservations.js"></script>
    <script type="text/javascript" src="~/js/messageSystem.js"></script>
    <script type="text/javascript">

    window.onload = function () {
        getReservations();
    }
    function getAnnouncementTypes() {
        return @Html.Raw(Json.Serialize(announcementTypes));
    }
    function getHouseSubtypes() {
        return @Html.Raw(Json.Serialize(houseSubtypes));
    }
    function getEntertainmentSubtypes() {
        return @Html.Raw(Json.Serialize(entertainmnetSubtypes));
    }
    function getFoodSubtypes() {
        return @Html.Raw(Json.Serialize(foodSubtypes));
    }
    function getHouseSharedParts() {
        return @Html.Raw(Json.Serialize(houseSharedParts));
    }

    </script>
    <div id="edit_ann_div">
        <div id="edit_head_text">Your reservations</div>
        <div id="message-container"></div>
        <div id="show-res-view-container"></div>
        <div class="space_30"></div>
    </div>


<div id="message-container"></div>
<div id="show-res-view-container"></div>

