@using BedAndBreakfast.Data;
@{

    ViewData["Title"] = "ShowReservations";
    List<string> announcementTypes = Enum.GetNames(typeof(EnumeratedDbValues.AnnouncementType)).ToList();
    List<string> houseSubtypes = Enum.GetNames(typeof(EnumeratedDbValues.HouseSubtype)).ToList();
    List<string> entertainmnetSubtypes = Enum.GetNames(typeof(EnumeratedDbValues.EntertainmentSubtype)).ToList();
    List<string> foodSubtypes = Enum.GetNames(typeof(EnumeratedDbValues.FoodSubtype)).ToList();
    List<string> houseSharedParts = Enum.GetNames(typeof(EnumeratedDbValues.HouseSharedPart)).ToList();

}

<style>
    .my-reservations-button {
        float: left;
        text-decoration: none;
        width: auto;
        text-align: center;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        font-family: 'Lato', sans-serif;
        font-size: 22px;
        color: rgba(26, 94, 178, 1);
        border: none;
        border-bottom: 1px solid rgba(26, 94, 178, 1);
        margin: 4px;
        background-color: transparent;
    }

        .my-reservations-button:hover {
            background-color: rgba(26, 94, 178, 0.5);
        }

    .my-reservations-header {
        font-family: 'Lato', sans-serif;
        font-size: 22px;
        color: rgba(26, 94, 178, 1);
        margin: 20px;
        padding: 10px;
        padding-top: 20px;
        border-bottom: 1px solid rgba(26, 94, 178, 1);
    }
</style>

<script type="text/javascript" src="~/js/showReservations.js"></script>
<script type="text/javascript" src="~/js/messageSystem.js"></script>
<script type="text/javascript">
    window.onload = function () {
        getReservations();
    }
    function getAnnouncementTypes() {
        return @Html.Raw(Json.Serialize(announcementTypes));
    }
    function getHouseSubtypes() {
        return @Html.Raw(Json.Serialize(houseSubtypes));
    }
    function getEntertainmentSubtypes() {
        return @Html.Raw(Json.Serialize(entertainmnetSubtypes));
    }
    function getFoodSubtypes() {
        return @Html.Raw(Json.Serialize(foodSubtypes));
    }
    function getHouseSharedParts() {
        return @Html.Raw(Json.Serialize(houseSharedParts));
    }
</script>
<div id="edit_ann_list" style="overflow-x:hidden; overflow-y:auto; height: 700px; width:1000px;">
    <div class="my-reservations-header">My reservations</div>
    <div id="message-container"></div>
    <div id="show-res-view-container" style="margin-left:20px;"></div>
    <div class="space_30"></div>
</div>



