
@using BedAndBreakfast.Data;
@model BedAndBreakfast.Models.EditProfileViewModel

@{
    ViewData["Title"] = "Edit";
    var profile = (Profile)ViewData["Profile"];
}

@*Use this to allow resource localization.*@
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@*Objects for drop-down select lists*@
@{

    List<SelectListItem> genders = EnumeratedDbValues.CreateListOfItems<EnumeratedDbValues.Gender>(profile.Gender);
    List<SelectListItem> currencies = EnumeratedDbValues.CreateListOfItems<EnumeratedDbValues.Currency>(profile.PrefCurrency);
    List<SelectListItem> languages = EnumeratedDbValues.CreateListOfItems<EnumeratedDbValues.Language>(profile.PrefLanguage);
    // Address uses additional variable to prevent situations where address is read from null object.
    // There is empty address created instead.
    Address profileAddress = (profile.Address != null) ? profile.Address : new Address();
}

<style>
    select {
        -webkit-transition: all 0.20s ease-in-out;
        -moz-transition: all 0.20s ease-in-out;
        -ms-transition: all 0.20s ease-in-out;
        -o-transition: all 0.20s ease-in-out;
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        height: 45px;
        border: 1px solid rgb(255, 70, 50);
        border-radius: 4px;
        padding: 3px;
        padding-left: 8px;
        padding-right: 8px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        color: rgb(50, 50, 50);
        text-decoration: none;
    }
        select:focus {
            outline: none;
            box-shadow: rgba(255, 70, 50, 1) 0px 0px 5px;
        }
</style>

<div style="text-align:center;">
    <div class="view-box-01">
        <p class="indent-01 text-segue-18">Edit profile</p>
        <hr />
        <form asp-action="Edit">
            <table class="edit-profile-table">
                <tr>
                    <td><label asp-for="FirstName" class="label-box-04 text-segue-16"></label></td>
                    <td><input asp-for="FirstName" class="input-box-01 text-segue-16" value="@profile.FirstName" /></td>
                    <td><span asp-validation-for="FirstName"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="LastName" class="label-box-04 text-segue-16"></label></td>
                    <td><input asp-for="LastName" class="input-box-01 text-segue-16" value="@profile.LastName" /></td>
                    <td><span asp-validation-for="LastName"></span></td>
                </tr>

                <tr>
                    <td><label asp-for="Gender" class="label-box-04 text-segue-16"></label></td>
                    <td>@Html.DropDownListFor(model => model.Gender, genders, Localizer["Unset"].Value)</td>
                    <td><span asp-validation-for="Gender"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="BirthDate" class="label-box-04 text-segue-16"></label></td>
                    <td><input asp-for="BirthDate" class="input-box-01 text-segue-16" value="@profile.BirthDate.ToString("yyyy-MM-dd")" /></td>
                    <td><span asp-validation-for="BirthDate"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="PrefLanguage" class="label-box-04 text-segue-16"></label></td>
                    <td> @Html.DropDownListFor(model => model.PrefLanguage, languages, Localizer["Unset"].Value) </td>
                    <td><span asp-validation-for="PrefLanguage"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="PrefCurrency" class="label-box-04 text-segue-16"></label></td>
                    <td>@Html.DropDownListFor(model => model.PrefCurrency, currencies, Localizer["Unset"].Value) </td>
                    <td><span asp-validation-for="PrefCurrency"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Country" class="label-box-04 text-segue-16"></label></td>
                    <td><input asp-for="Country" class="input-box-01 text-segue-16" value="@profileAddress.Country" /></td>
                    <td><span asp-validation-for="Country"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Region" class="label-box-04 text-segue-16"></label></td>
                    <td><input asp-for="Region" class="input-box-01 text-segue-16" value="@profileAddress.Region" /></td>
                    <td><span asp-validation-for="Region"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="City" class="label-box-04 text-segue-16"></label></td>
                    <td><input asp-for="City" class="input-box-01 text-segue-16" value="@profileAddress.City" /></td>
                    <td><span asp-validation-for="City"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Street" class="label-box-04 text-segue-16"></label></td>
                    <td><input asp-for="Street" class="input-box-01 text-segue-16" value="@profileAddress.Street" /></td>
                    <td><span asp-validation-for="Street"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="StreetNumber" class="label-box-04 text-segue-16"></label></td>
                    <td><input asp-for="StreetNumber" class="input-box-01 text-segue-16" value="@profileAddress.StreetNumber" /></td>
                    <td><span asp-validation-for="StreetNumber"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="PresonalDescription" class="label-box-04 text-segue-16"></label></td>
                    <td><input asp-for="PresonalDescription" class="input-box-01 text-segue-16" value="@profile.PresonalDescription" /></td>
                    <td><span asp-validation-for="PresonalDescription"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="School" class="label-box-04 text-segue-16"></label></td>
                    <td><input asp-for="School" class="input-box-01 text-segue-16" value="@profile.School" /></td>
                    <td><span asp-validation-for="School"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Work" class="label-box-04 text-segue-16"></label></td>
                    <td><input asp-for="Work" class="input-box-01 text-segue-16" value="@profile.Work" /></td>
                    <td><span asp-validation-for="Work"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="BackupEmailAddress" class="label-box-04 text-segue-16"></label></td>
                    <td><input asp-for="BackupEmailAddress" class="input-box-01 text-segue-16" value="@profile.BackupEmailAddress" /></td>
                    <td><span asp-validation-for="BackupEmailAddress"></span></td>
                </tr>
            </table>

            <input type="submit" value="Save" class="button-01 text-segue-14" />

        </form>
    </div>
</div>