
@using BedAndBreakfast.Data;
@model BedAndBreakfast.Models.EditProfileViewModel

@{
    ViewData["Title"] = "Edit";
    var profile = (Profile)ViewData["Profile"];
}

@*Use this to allow resource localization.*@
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@*Objects for drop-down select lists*@
@{

    List<SelectListItem> genders = EnumeratedDbValues.CreateListOfItems<EnumeratedDbValues.Gender>(profile.Gender);
    List<SelectListItem> currencies = EnumeratedDbValues.CreateListOfItems<EnumeratedDbValues.Currency>(profile.PrefCurrency);
    List<SelectListItem> languages = EnumeratedDbValues.CreateListOfItems<EnumeratedDbValues.Language>(profile.PrefLanguage);
    // Address uses additional variable to prevent situations where address is read from null object.
    // There is empty address created instead.
    Address profileAddress = (profile.Address != null) ? profile.Address : new Address();
}

<div id="edit_ann_div">
    <div id="edit_head_text" style="margin-top: 20px; margin-bottom: 20px">Edit your profile</div>
    <div class="row">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="edit_box_bar_ed"></label>
                <input asp-for="FirstName" class="create_bar_con" value="@profile.FirstName" />
                <span asp-validation-for="FirstName" class="create_text_danger"></span>
                <div style="clear:both;"></div>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="edit_box_bar_ed"></label>
                <input asp-for="LastName" class="create_bar_con" value="@profile.LastName" />
                <span asp-validation-for="LastName" class="create_text_danger"></span>
                <div style="clear:both;"></div>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="edit_box_bar_ed"></label>
                <div class="create_bar_con"> @Html.DropDownListFor(model => model.Gender, genders, Localizer["Unset"].Value)</div>
                <span asp-validation-for="Gender" class="create_text_danger"></span>
                <div style="clear:both;"></div>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="edit_box_bar_ed"></label>
                <input asp-for="BirthDate" class="create_bar_con" value="@profile.BirthDate.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="BirthDate" class="create_text_danger"></span>
                <div style="clear:both;"></div>
            </div>
            <div class="form-group">
                <label asp-for="PrefLanguage" class="edit_box_bar_ed"></label>
                <div class="create_bar_con"> @Html.DropDownListFor(model => model.PrefLanguage, languages, Localizer["Unset"].Value) </div>
                <span asp-validation-for="PrefLanguage" class="create_text_danger"></span>
                <div style="clear:both;"></div>
            </div>
            <div class="form-group">
                <label asp-for="PrefCurrency" class="edit_box_bar_ed"></label>
                <div class="create_bar_con">@Html.DropDownListFor(model => model.PrefCurrency, currencies, Localizer["Unset"].Value) </div>
                <span asp-validation-for="PrefCurrency" class="create_text_danger"></span>
                <div style="clear:both;"></div>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="edit_box_bar_ed"></label>
                <input asp-for="Country" class="create_bar_con" value="@profileAddress.Country" />
                <span asp-validation-for="Country" class="create_text_danger"></span>
                <div style="clear:both;"></div>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="edit_box_bar_ed"></label>
                <input asp-for="Region" class="create_bar_con" value="@profileAddress.Region" />
                <span asp-validation-for="Region" class="create_text_danger"></span>
                <div style="clear:both;"></div>
            </div>
            <div class="form-group">
                <label asp-for="City" class="edit_box_bar_ed"></label>
                <input asp-for="City" class="create_bar_con" value="@profileAddress.City" />
                <span asp-validation-for="City" class="create_text_danger"></span>
                <div style="clear:both;"></div>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="edit_box_bar_ed"></label>
                <input asp-for="Street" class="create_bar_con" value="@profileAddress.Street" />
                <span asp-validation-for="Street" class="create_text_danger"></span>
                <div style="clear:both;"></div>
            </div>
            <div class="form-group">
                <label asp-for="StreetNumber" class="edit_box_bar_ed"></label>
                <input asp-for="StreetNumber" class="create_bar_con" value="@profileAddress.StreetNumber" />
                <span asp-validation-for="StreetNumber" class="create_text_danger"></span>
                <div style="clear:both;"></div>
            </div>
            <div class="form-group">
                <label asp-for="PresonalDescription" class="edit_box_bar_ed"></label>
                <input asp-for="PresonalDescription" class="create_bar_con" value="@profile.PresonalDescription" />
                <span asp-validation-for="PresonalDescription" class="create_text_danger"></span>
                <div style="clear:both;"></div>
            </div>
            <div class="form-group">
                <label asp-for="School" class="edit_box_bar_ed"></label>
                <input asp-for="School" class="create_bar_con" value="@profile.School" />
                <span asp-validation-for="School" class="create_text_danger"></span>
                <div style="clear:both;"></div>
            </div>
            <div class="form-group">
                <label asp-for="Work" class="edit_box_bar_ed"></label>
                <input asp-for="Work" class="create_bar_con" value="@profile.Work" />
                <span asp-validation-for="Work" class="create_text_danger"></span>
                <div style="clear:both;"></div>
            </div>
            <div class="form-group">
                <label asp-for="BackupEmailAddress" class="edit_box_bar_ed"></label>
                <input asp-for="BackupEmailAddress" class="create_bar_con" value="@profile.BackupEmailAddress" />
                <span asp-validation-for="BackupEmailAddress" class="create_text_danger"></span>
                <div style="clear:both;"></div>
            </div>
            <div>
                <input type="submit" value="Save" class="my_button" id="save_button" />
            </div>
            <div style="clear:both;"></div>
        </form>
    </div>

</div>
