
@using BedAndBreakfast.Data;
@model BedAndBreakfast.Models.EditProfileViewModel

@{
    ViewData["Title"] = "Edit";
    var profile = (Profile)ViewData["Profile"];
}

@*Use this to allow resource localization.*@
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@*Objects for drop-down select lists*@
@{

    List<SelectListItem> genders = ListedDbValues.CreateListOfItems<ListedDbValues.Gender>(profile.Gender);
    List<SelectListItem> currencies = ListedDbValues.CreateListOfItems<ListedDbValues.Currency>(profile.PrefCurrency);
    List<SelectListItem> languages = ListedDbValues.CreateListOfItems<ListedDbValues.Language>(profile.PrefLanguage);
}

<h2>Edit</h2>

<h4>EditProfileViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" value="@profile.FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" value="@profile.LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                @Html.DropDownListFor(model => model.Gender, genders, Localizer["Unset"].Value)
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" value="@profile.BirthDate.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrefLanguage" class="control-label"></label>
                @Html.DropDownListFor(model => model.PrefLanguage, languages, Localizer["Unset"].Value)
                <span asp-validation-for="PrefLanguage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrefCurrency" class="control-label"></label>
                @Html.DropDownListFor(model => model.PrefCurrency, currencies, Localizer["Unset"].Value)
                <span asp-validation-for="PrefCurrency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" value="@profile.Address.Country" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                <input asp-for="Region" class="form-control" value="@profile.Address.Region" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" value="@profile.Address.City" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" value="@profile.Address.Street" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetNumber" class="control-label"></label>
                <input asp-for="StreetNumber" class="form-control" value="@profile.Address.StreetNumber" />
                <span asp-validation-for="StreetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresonalDescription" class="control-label"></label>
                <input asp-for="PresonalDescription" class="form-control" value="@profile.PresonalDescription" />
                <span asp-validation-for="PresonalDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="School" class="control-label"></label>
                <input asp-for="School" class="form-control" value="@profile.School" />
                <span asp-validation-for="School" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Work" class="control-label"></label>
                <input asp-for="Work" class="form-control" value="@profile.Work" />
                <span asp-validation-for="Work" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BackupEmailAddress" class="control-label"></label>
                <input asp-for="BackupEmailAddress" class="form-control" value="@profile.BackupEmailAddress" />
                <span asp-validation-for="BackupEmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

