
@using BedAndBreakfast.Data;
@model BedAndBreakfast.Models.EditProfileViewModel

@{
    ViewData["Title"] = "Edit";
    var profile = (Profile)ViewData["Profile"];
}

@*Use this to allow resource localization.*@
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@*Objects for drop-down select lists*@
@{

    List<SelectListItem> genders = EnumeratedDbValues.CreateListOfItems<EnumeratedDbValues.Gender>(profile.Gender);
    List<SelectListItem> currencies = EnumeratedDbValues.CreateListOfItems<EnumeratedDbValues.Currency>(profile.PrefCurrency);
    List<SelectListItem> languages = EnumeratedDbValues.CreateListOfItems<EnumeratedDbValues.Language>(profile.PrefLanguage);
    // Address uses additional variable to prevent situations where address is read from null object.
    // There is empty address created instead.
    Address profileAddress = (profile.Address != null) ? profile.Address : new Address();
}

<style>
    .edit-profile-button {
        float: right;
        margin: 10px;
        margin-right: 20px;
        height: 40px;
        width: 100px;
        font-family: 'Lato', sans-serif;
        background-color: transparent;
        font-size: 22px;
        color: rgba(26, 94, 178, 1);
        border: none;
        border-bottom: 1px solid rgba(26, 94, 178, 1);
    }

        .edit-profile-button:hover {
            cursor: pointer;
            background-color: rgba(26, 94, 178, 0.5);
        }

    .edit-profile-buttons-container {
        margin: 20px;
        margin-left: 14px;
    }

    .edit-profile-header {
        font-family: 'Lato', sans-serif;
        font-size: 22px;
        color: rgba(26, 94, 178, 1);
        margin: 20px;
        padding: 10px;
        padding-top: 20px;
        border-bottom: 1px solid rgba(26, 94, 178, 1);
    }

    .edit-profile-box {
        border-radius: 2px;
        border: 1px solid rgba(0,0,0,0.33);
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        padding: 10px;
        margin: 5px;
        height: 20px;
    }

    .edit-profile-input-box {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        border: none;
    }

    .edit-profile-error-box {
        padding: 10px;
        color: rgb(200, 55, 55);
        font-family: 'Lato', sans-serif;
        font-size: 16px;
    }

    .edit-profile-table {
        margin: 15px;
    }
    select {
        width: calc(100% - 10px);
        margin-left: 5px;
        border: none;
        height: 40px;
        border-radius: 2px;
        border: 1px solid rgba(0,0,0,0.33);
    }
</style>

<div id="edit_ann_div"  style="overflow-x:hidden; overflow-y:auto; height: 700px; width:700px;">
    <div class="edit-profile-header">Edit profile</div>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="edit-profile-table">
            <tr>
                <td><div class="edit-profile-box"><label asp-for="FirstName"></label></div></td>
                <td><div class="edit-profile-box"><input asp-for="FirstName" class="edit-profile-input-box"  value="@profile.FirstName" /></div></td>
                <td><div class="edit-profile-error-box"><span asp-validation-for="FirstName" ></span></div></td>
            </tr>
            <tr>
                <td><div class="edit-profile-box"><label asp-for="LastName" ></label></div></td>
                <td><div class="edit-profile-box"><input asp-for="LastName" class="edit-profile-input-box" value="@profile.LastName" /></div></td>
                <td><div class="edit-profile-error-box"><span asp-validation-for="LastName" ></span></div></td>
            </tr>

            <tr>
                <td><div class="edit-profile-box"><label asp-for="Gender" ></label></div></td>
                <td><div>@Html.DropDownListFor(model => model.Gender, genders, Localizer["Unset"].Value)</div></td>
                <td><div class="edit-profile-error-box"><span asp-validation-for="Gender" ></span></div></td>
            </tr>
            <tr>
                <td><div class="edit-profile-box"><label asp-for="BirthDate" ></label></div></td>
                <td><div class="edit-profile-box"><input asp-for="BirthDate" class="edit-profile-input-box" value="@profile.BirthDate.ToString("yyyy-MM-dd")" /></div></td>
                <td><div class="edit-profile-error-box"><span asp-validation-for="BirthDate" ></span></div></td>
            </tr>
            <tr>
                <td><div class="edit-profile-box"><label asp-for="PrefLanguage" ></label></div></td>
                <td><div> @Html.DropDownListFor(model => model.PrefLanguage, languages, Localizer["Unset"].Value) </div></td>
                <td><div class="edit-profile-error-box"><span asp-validation-for="PrefLanguage" ></span></div></td>
            </tr>
            <tr>
                <td><div class="edit-profile-box"><label asp-for="PrefCurrency" ></label></div></td>
                <td><div>@Html.DropDownListFor(model => model.PrefCurrency, currencies, Localizer["Unset"].Value) </div></td>
                <td><div class="edit-profile-error-box"><span asp-validation-for="PrefCurrency" ></span></div></td>
            </tr>
            <tr>
                <td><div class="edit-profile-box"><label asp-for="Country" ></label></div></td>
                <td><div class="edit-profile-box"><input asp-for="Country" class="edit-profile-input-box" value="@profileAddress.Country" /></div></td>
                <td><div class="edit-profile-error-box"><span asp-validation-for="Country" ></span></div></td>
            </tr>
            <tr>
                <td><div class="edit-profile-box"><label asp-for="Region" ></label></div></td>
                <td><div class="edit-profile-box"><input asp-for="Region" class="edit-profile-input-box" value="@profileAddress.Region" /></div></td>
                <td><div class="edit-profile-error-box"><span asp-validation-for="Region" ></span></div></td>
            </tr>
            <tr>
                <td><div class="edit-profile-box"><label asp-for="City" ></label></div></td>
                <td><div class="edit-profile-box"><input asp-for="City" class="edit-profile-input-box" value="@profileAddress.City" /></div></td>
                <td><div class="edit-profile-error-box"><span asp-validation-for="City" ></span></div></td>
            </tr>
            <tr>
                <td><div class="edit-profile-box"><label asp-for="Street" ></label></div></td>
                <td><div class="edit-profile-box"><input asp-for="Street" class="edit-profile-input-box" value="@profileAddress.Street" /></div></td>
                <td><div class="edit-profile-error-box"><span asp-validation-for="Street" ></span></div></td>
            </tr>
            <tr>
                <td><div class="edit-profile-box"><label asp-for="StreetNumber" ></label></div></td>
                <td><div class="edit-profile-box"><input asp-for="StreetNumber"  class="edit-profile-input-box" value="@profileAddress.StreetNumber" /></div></td>
                <td><div class="edit-profile-error-box"><span asp-validation-for="StreetNumber" ></span></div></td>
            </tr>
            <tr>
                <td><div class="edit-profile-box"><label asp-for="PresonalDescription" ></label></div></td>
                <td><div class="edit-profile-box"><input asp-for="PresonalDescription" class="edit-profile-input-box" value="@profile.PresonalDescription" /></div></td>
                <td><div class="edit-profile-error-box"><span asp-validation-for="PresonalDescription" ></span></div></td>
            </tr>
            <tr>
                <td><div class="edit-profile-box"><label asp-for="School" ></label></div></td>
                <td><div class="edit-profile-box"><input asp-for="School" class="edit-profile-input-box" value="@profile.School" /></div></td>
                <td><div class="edit-profile-error-box"><span asp-validation-for="School" ></span></div></td>
            </tr>
            <tr>
                <td><div class="edit-profile-box"><label asp-for="Work" ></label></div></td>
                <td><div class="edit-profile-box"><input asp-for="Work" class="edit-profile-input-box" value="@profile.Work" /></div></td>
                <td><div class="edit-profile-error-box"><span asp-validation-for="Work" ></span></div></td>
            </tr>
            <tr>
                <td><div class="edit-profile-box"><label asp-for="BackupEmailAddress" ></label></div></td>
                <td><div class="edit-profile-box"><input asp-for="BackupEmailAddress" class="edit-profile-input-box" value="@profile.BackupEmailAddress" /></div></td>
                <td><div class="edit-profile-error-box"><span asp-validation-for="BackupEmailAddress" ></span></div></td>
            </tr>
        </table>
        <div>
            <input type="submit" value="Save" class="edit-profile-button" />
        </div>
    </form>
</div>
