@model BedAndBreakfast.Models.FindUserViewModel

@{
    ViewData["Title"] = "FindUser";
    List<FindUserViewModel> users = (List<FindUserViewModel>)ViewData["users"];
}

<div style="text-align:center;">
    <div class="view-box-01">
        <p class="indent-01 text-segue-18">Find user</p>
        <hr />

        <div>
            <form asp-action="FindUser">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="block-01">
                    <label asp-for="FirstName" class="label-box-06 text-segue-16"> </label>
                    <input asp-for="FirstName" class="input-box-02 text-segue-16" />
                    <span asp-validation-for="FirstName" class="error-span-label-box-01 text-segue-16"></span>
                </div>
                <div class="block-01">
                    <label asp-for="LastName" class="label-box-06 text-segue-16"></label>
                    <input asp-for="LastName" class="input-box-02 text-segue-16" />
                    <span asp-validation-for="LastName" class="error-span-label-box-01 text-segue-16"></span>
                </div>
                <div class="block-01">
                    <label asp-for="UserName" class="label-box-06 text-segue-16"></label>
                    <input asp-for="UserName" class="input-box-02 text-segue-16" />
                    <span asp-validation-for="UserName" class="error-span-label-box-01 text-segue-16"></span>
                </div>
                <div class="block-01">
                    <label asp-for="IsLocked" class="label-box-07 text-segue-16"></label>
                    <input asp-for="IsLocked" value="true" />
                </div>
                <div class="block-07" style="margin-top: -20px;">
                    <input type="submit" value="Search" class="button-10 text-segue-16" />
                </div>
            </form>
        </div>

        <div class="block-08">
            @if (users.Count() != 0)
            {
                <table class="table-box-04 text-segue-16">
                    <tr class="text-segue-14">
                        <td><label asp-for="UserName"></label></td>
                        <td><label asp-for="FirstName"></label></td>
                        <td><label asp-for="LastName"></label></td>
                        <td><label asp-for="IsLocked"></label></td>
                        <td></td>
                    </tr>
                    @foreach (FindUserViewModel user in users)
                    {
                        <tr class="table-box-row-03">
                            <td class="table-box-cell-07">@user.UserName</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.IsLocked</td>
                            <td><form  asp-action="EditUser" asp-route-user="@user.UserName"><button class="button-05 text-segue-14" >Edit</button></form></td>
                        </tr>

                    }
                </table>
            }
            else
            {
                <p class="error-span-label-box-01 text-segue-16">No results</p>
            }
        </div>
    </div>
</div>
